Body {  
  font-family: Calibri, Helvetica, sans-serif; 
  background-image: url("indexback.jpeg");  
  background-size: cover;
}  

.login {
    margin:auto;
    margin-top: 12%;
    padding: 2%;
    width: 30%;
    height: 10%;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
}

button {   
       background-color:aquamarine;  
       width: 100%;     
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
form {   
        display: inline-block;
        padding:30px;
        border: 3px solid #f1f1f1;   
    }   
input[type=email], input[type=password] {   
        width: 65%;   
        margin: 8px 10px;  
        padding: 5xpx 10px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   

.remember{
    margin-right: 10px;
    width: auto;
    margin-bottom: 20px;
}

.cancelbtn,.submit-btn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
    }  
.a1 {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin: 60px 20px 20px 20px;
}

.onclick{
    visibility: hidden;
}

.onclick:onclick {
    visibility: visible;
}